@import './base.css';
@import 'tailwindcss';

#app {
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    padding: 0 1rem;
  }
}
